body{
	color: #FF5733; 
	font-size: 120%;
	text-align: center;
	padding:10px;
	letter-spacing: 2px;
	background-image: url("C:/Coding/aquabeach.jpg");
    color: #FCFBFB;
    background-repeat: no-repeat;
    padding-bottom: 420px;
    background-position: center;
    margin-top: 150px;
    border: 4px;
    border-color:#f8d8bc;
    border-style:solid;
    border-width: 50px;  
}

h1{
	color: #FF5733;
	font-family: 'Adorytta', Adorytta, sans-serif;
	text-align: center;
	padding:50px;
	letter-spacing: 2px;
	margin-top: 50px;

}

.content-box1{
	background-color:#f8d8bc; //apricot
	border:1px black;
	border-style:solid;
	padding: 20px;
	position:relative;
	margin: 400px;
	opacity: 0.8;
	margin-top:200px;
	font-family:'Minion SC', serif;
	font-style: italic;
	color: #FF5733;
}

p{
	color:#FF5733;
	font-style: bold;
}

/* unvisited link */
a:link {
  color: #f8d8bc;
}

/* visited link */
a:visited {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: #FF5733;
}

/* selected link */
a:active {
  color: #adebeb;
}
